/*
Error: Invalid CSS after "				font-size:": expected expression (e.g. 1px, bold), was "}"
        on line 134 of engineering/_layout.scss
        from line 10 of style.scss

129: 	.home-feature {
130: 		.block-title {
131: 			font-size: 24px;
132: 			i {
133: 				font-size: 
134: 			}
135: 		}
136: 	}
137: }
138: /* Large devices (desktops, 1200px and up) *\/
139: @media (min-width: $screen-lg) {

Backtrace:
engineering/_layout.scss:134
style.scss:10
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/script/lexer.rb:221:in `expected!'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/script/parser.rb:573:in `assert_expr'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/script/parser.rb:62:in `parse'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:1024:in `sass_script'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:877:in `value!'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:750:in `block in try_declaration'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `call'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:194:in `directive'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/engine.rb:309:in `to_tree'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/melissawallace/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"				font-size:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 134 of engineering/_layout.scss\A         from line 10 of style.scss\A \A 129: 	.home-feature {\A 130: 		.block-title {\A 131: 			font-size: 24px;\A 132: 			i {\A 133: 				font-size: \A 134: 			}\A 135: 		}\A 136: 	}\A 137: }\A 138: /* Large devices (desktops, 1200px and up) */\A 139: @media (min-width: $screen-lg) {"; }
