@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);
body {
  font-family: "Source Sans Pro", Helvetica, Arials, sans-serif;
  background: #e4e3e3; }

a {
  color: #0068ac; }

a:hover {
  color: black;
  text-decoration: underline; }

.main-content a,
footer a {
  border-bottom: 1px dotted #999; }
.main-content a:hover,
.main-content a:active,
.main-content a:focus,
footer a:hover,
footer a:active,
footer a:focus {
  border-bottom: 1px solid #999;
  text-decoration: none; }

p, li {
  font-size: 18px;
  line-height: 1.5em; }

p, ul {
  margin-bottom: 1em; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  margin-bottom: .75em; }

h1 {
  margin-top: 0; }

h2 {
  font-weight: 300;
  font-size: 28px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

.front h1 {
  display: none; }

.main-text li {
  margin-bottom: .25em; }

.well {
  border-radius: 0;
  box-shadow: none; }

.breadcrumb {
  padding: 0;
  background: inherit;
  margin-bottom: 3em; }
  .breadcrumb li {
    font-size: 12px; }

.cornell-identity .container {
  background: #b31b1b; }
.cornell-identity .cornell-logo {
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
.cornell-identity button i {
  color: white; }

.library-brand {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .library-brand {
      float: left;
      width: 66.66667%; } }

.brand {
  text-transform: uppercase;
  font-size: 42px;
  font-family: "Montserrat";
  display: block;
  color: white;
  line-height: 1em;
  text-shadow: 1px 1px 1px black; }

.brand:hover,
.brand:active,
.brand-focus {
  color: white;
  text-decoration: none; }

.cul-brand {
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
  display: block;
  margin-bottom: .25em;
  text-shadow: 1px 1px 1px black; }

.cul-brand:hover {
  color: #e4e3e3;
  text-decoration: none; }

.alert-box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .alert-box {
      float: left;
      width: 33.33333%; } }
  .alert-box .well {
    margin: 0 0 .5em 0; }
  .alert-box h2 {
    font-size: 24px;
    font-weight: 700;
    color: #b31b1b; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .brand {
    font-size: 36px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .brand {
    font-size: 48px !important; } }
/* Large devices (desktops, 1200px and up) */
.hero {
  background: url("../img/hero/1.jpg") no-repeat;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }

.main-content {
  background: white;
  padding: 3em 0 4em 0; }

.main-text {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .main-text {
      float: left;
      width: 66.66667%; } }
  @media (min-width: 768px) {
    .main-text {
      left: 33.33333%; } }

.sidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3em; }
  @media (min-width: 768px) {
    .sidebar {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 992px) {
    .sidebar {
      float: left;
      width: 25%; } }
  @media (min-width: 768px) {
    .sidebar {
      right: 66.66667%; } }

.home-feature {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2em; }
  @media (min-width: 768px) {
    .home-feature {
      float: left;
      width: 33.33333%; } }
  .home-feature .block-title {
    font-size: 24px;
    border-bottom: 2px solid #e4e3e3;
    padding-bottom: .25em;
    font-weight: 300; }
    .home-feature .block-title i {
      color: #999;
      font-size: 36px; }
    .home-feature .block-title .fa-wordpress {
      margin-right: .25em; }
  .home-feature .fa-ul {
    margin-left: 1.5em; }
    .home-feature .fa-ul i {
      font-size: 12px;
      color: #999; }
    .home-feature .fa-ul .fa-li {
      top: .75em; }
  .home-feature li {
    margin-bottom: .25em; }
  .home-feature .fa-angle-double-right {
    margin-left: .25em; }

.search-bar {
  background: #f5f5f5;
  padding: 0 0 1em 0; }

body.admin-menu {
  padding-top: 0 !important; }

#admin-menu li {
  font-size: 9px; }

.block-simplesamlphp-auth {
  margin: 2em 0 3em 0; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero header .container {
    background: inherit; }

  .sidebar {
    margin-top: 0; }

  .home-feature .block-title {
    font-size: 18px; }
    .home-feature .block-title i {
      font-size: 18px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-feature .block-title {
    font-size: 24px; }
    .home-feature .block-title i {
      font-size: 24px; } }
/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-feature .block-title {
    font-size: 26px; }
    .home-feature .block-title i {
      font-size: 36px; } }
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 0; }

.navbar-toggle {
  margin: 0;
  font-size: 120%; }

.global-menu {
  position: relative;
  float: left;
  width: 66.66667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

#menu .nav li {
  font-size: 14px;
  text-transform: uppercase;
  float: left; }
#menu .nav a {
  color: white;
  padding: 10px 15px; }
#menu .nav a:hover, #menu .nav a:active, #menu .nav a:focus {
  background: inherit;
  text-decoration: underline; }
#menu .nav .active a, #menu .nav .active a:hover, #menu .nav .active a:active, #menu .nav .active a:focus {
  font-weight: 700; }

nav .container {
  background: #222;
  background: rgba(34, 34, 34, 0.75);
  padding-left: 0; }
nav .nav li {
  float: left; }
  nav .nav li a {
    color: white;
    font-size: 18px;
    padding: 15px 20px; }
  nav .nav li a:hover,
  nav .nav li a:active,
  nav .nav li a:focus {
    background: black;
    color: white; }
  nav .nav li ul li {
    background: black;
    padding-right: 0; }
  nav .nav li ul li:first-child {
    padding-top: 10px; }
  nav .nav li ul a {
    padding: 0 15px 10px 15px;
    font-size: 15px;
    display: inline-block;
    line-height: 1.4em; }
  nav .nav li ul i {
    display: none; }
nav .nav .active a, nav .nav .active a:hover, nav .nav .active a:active, nav .nav .active a:focus, nav .nav .active-trail a, nav .nav .active-trail a:hover, nav .nav .active-trail a:active, nav .nav .active-trail a:focus {
  background: black; }

.navbar {
  border: 0; }

.sf-menu.menu ul {
  margin-top: .6em;
  padding-bottom: 1em; }

a > .sf-sub-indicator, span.nolink > .sf-sub-indicator {
  top: 1.4em; }

.sf-sub-indicator {
  right: .5em; }

.sf-menu a.sf-with-ul, .sf-menu span.nolink.sf-with-ul {
  padding-right: 25px; }

#mobile-nav {
  background: white; }
  #mobile-nav a {
    color: #222;
    font-size: 14px;
    border-top: 1px solid #e4e3e3; }
  #mobile-nav .navbar-nav {
    margin-top: 0;
    margin-bottom: 0; }

#mobile-nav .sf-menu li {
  float: none; }
#mobile-nav .sf-accordion-toggle {
  display: none; }
#mobile-nav .sf-expanded ul {
  position: relative;
  margin-bottom: 2em;
  margin-top: -2em;
  width: 100%; }
#mobile-nav .nav ul li {
  padding-right: 0;
  padding-left: 30px; }
#mobile-nav .nav ul li:first-child {
  padding-top: 10px; }
#mobile-nav .nav ul a {
  border-top: 0; }
#mobile-nav .nav ul i {
  display: none; }
#mobile-nav .nav ul .sf-clone-parent {
  padding-left: 15px; }

.sidebar .block-title {
  margin: 0;
  padding: 0 0 .5em 0;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 2px solid #e4e3e3; }
  .sidebar .block-title a {
    color: #222;
    border: none; }
.sidebar .nav > li {
  padding: 8px 0;
  font-size: 16px; }
.sidebar .nav > li > a {
  padding: 0;
  border-bottom: 0;
  display: inline; }
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:active,
.sidebar .nav > li > a:focus {
  background: inherit; }
.sidebar .nav {
  margin-top: 1em; }
  .sidebar .nav i {
    margin-right: .4em;
    color: #cbcbcb; }
  .sidebar .nav .active a, .sidebar .nav .active a:hover, .sidebar .nav .active a:active, .sidebar .nav .active a:focus {
    color: #222;
    font-weight: 700; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #menu .nav {
    float: right; }

  nav .navbar-nav > li > a {
    font-size: 14px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav .navbar-nav > li > a {
    font-size: 16px; } }
/* Large devices (desktops, 1200px and up) */
.header-search {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 4em; }
  @media (min-width: 768px) {
    .header-search {
      float: left;
      width: 33.33333%; } }
  .header-search form {
    float: right;
    width: 90%; }
  .header-search input {
    opacity: .9;
    width: 100% !important; }
  .header-search .form-group {
    width: 80%; }

.btn-search {
  background: inherit; }
  .btn-search i {
    color: #b31b1b;
    font-size: 24px; }

#mobile-search {
  background: #e4e3e3; }
  #mobile-search form {
    padding: 5px; }
  #mobile-search .form-group {
    width: 80%;
    float: left;
    margin-bottom: 0; }
  #mobile-search .btn-search i {
    font-size: 18px; }

.home-search {
  padding: 1em 0;
  border: 0; }
  .home-search .block-title {
    font-size: 20px;
    margin-bottom: .5em;
    float: left; }
  .home-search .form-group {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0; }
  .home-search .form-control {
    width: 100%; }
  .home-search .btn-search {
    padding: 5px 0; }
    .home-search .btn-search i {
      font-size: 32px; }
  .home-search form {
    clear: both; }

.search-site-link {
  float: left;
  padding: 3px 0 0 15px;
  border-left: 1px solid #cbcbcb;
  margin-left: 15px; }

.search-by-page-form .container {
  padding-left: 0; }
.search-by-page-form .form-group {
  width: 70%;
  float: left;
  margin-right: 10px; }

.search-info {
  display: none; }

.search-home {
  width: 100%;
  background: #f5f5f5;
  padding-left: 15px;
  z-index: 9996; }

.search-home label {
  font-size: 27px;
  color: inherit;
  padding-top: 15px;
  font-weight: 300;
  line-height: 1.1em;
  padding-bottom: 5px; }

.search-home label .search-filter-selected {
  opacity: .5; }

.search-home .filtered-search {
  font-size: 16px;
  color: #2c3235;
  position: relative;
  z-index: 99; }

.search-home .filtered-search .search-homepage {
  float: left;
  width: 65%;
  height: 51px;
  background-color: #fff;
  padding-left: 10px;
  vertical-align: text-top;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #d6d6d6; }

.search-home .filtered-search .filter-search {
  position: relative;
  float: left;
  height: 51px;
  background-color: #fff;
  width: 50px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #d6d6d6;
  cursor: pointer; }

.search-home .filtered-search .filter-search .active {
  display: none; }

.search-home .filtered-search .filter-search .glyphicon-chevron-down {
  color: #b31b1b;
  font-size: 25px;
  line-height: 51px;
  padding-left: 10px; }

.search-home .filtered-search .filter-search .glyphicon-chevron-up {
  color: #b31b1b;
  font-size: 25px;
  line-height: 51px;
  padding-left: 10px; }

.search-home .filtered-search #filter-search-nav {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #fff;
  right: -1px;
  top: 50px;
  width: 190px;
  list-style-type: none !important;
  padding-left: 0; }

.search-home .filtered-search #filter-search-nav li {
  padding-left: 13px;
  height: 51px;
  line-height: 51px;
  border-bottom: 1px solid #d6d6d6; }

.search-home .filtered-search .submit-search {
  float: left;
  vertical-align: text-top;
  width: 51px;
  height: 51px;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  padding-top: 0;
  background-color: transparent;
  border: none;
  color: #999; }

.search-home .external-search {
  clear: both;
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  width: auto; }

.search-home .external-search li {
  color: #fff;
  padding-right: 5px;
  float: left; }

.search-home .external-search li a {
  color: #fff; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-search .form-group {
    width: 70%; }

  .home-search {
    padding-top: 2em; }

  .search-by-page-form .container {
    padding-left: 0; }
  .search-by-page-form .form-group {
    width: 50%; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .brand {
    font-size: 36px; }

  .header-search .form-group {
    width: 80%; }

  .search-home {
    top: 220px; }

  .search-home .filtered-search .search-homepage {
    width: 353px;
    z-index: 9996; }

  .search-home .filtered-search .filter-search {
    width: 190px; }

  .search-home .filtered-search .filter-search .active {
    display: inline;
    padding-left: 10px;
    line-height: 51px;
    vertical-align: top;
    padding-right: 0; }

  .search-home .filtered-search .filter-search .glyphicon-chevron-down {
    padding-right: 10px; }

  .search-home .filtered-search #filter-search-nav {
    display: none;
    width: 190px;
    text-align: left; } }
/* Large devices (desktops, 1200px and up) */
.footer-primary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .footer-primary {
      float: left;
      width: 66.66667%; } }

.footer-secondary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .footer-secondary {
      float: left;
      width: 33.33333%; } }

footer {
  padding: 2em 0; }
  footer .nav {
    margin-bottom: 1em; }
  footer .nav > li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid #999; }
  footer .nav > li:first-child {
    padding-left: 0;
    border: none; }
  footer .nav > li > a {
    padding: 0; }
  footer .nav > li > a:hover,
  footer .nav > li > a:active,
  footer .nav > li > a:focus {
    background: inherit;
    text-decoration: none; }
  footer p, footer li {
    font-size: 13px; }

.social-links {
  margin-top: 1em; }
  .social-links i {
    font-size: 3em; }
  .social-links div {
    float: left;
    margin-left: .5em; }
  .social-links a {
    padding-bottom: 0;
    border: 0; }
  .social-links a:hover, .social-links a:active, .social-links a:focus {
    border: 0; }
  .social-links .rss-link i {
    color: #d77b28; }
  .social-links .facebook-link i {
    color: #3a649e; }
  .social-links .twitter-link i {
    color: #00cdf0; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .social-links {
    float: right;
    margin-top: 0; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (desktops, 1200px and up) */
.more-link {
  margin-top: 1.5em;
  font-size: 18px; }
  .more-link i {
    margin-left: .25em; }

.passkey-link {
  text-align: center;
  margin-top: 2em; }

.media {
  margin-bottom: 2em; }

.media-left {
  padding-right: 20px; }
  .media-left img {
    max-width: none; }

.media-body div {
  font-size: 14px;
  margin-bottom: .25em; }
.media-body .staff-title {
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
