// Header search box
// -------------------------- //
.header-search {
	@include make-sm-column(4);
	margin-top: 4em;
	form {
		float: right;
		width: 90%;
	}
	input {
		opacity: .9;
		width: 100% !important;
	}
	.form-group {
		width: 80%;
	}
}
.btn-search {
	background: inherit;
	i {
		color: $cornell-red;
		font-size: 24px;
	}
}

// Mobile search box
// ------------------------ //
#mobile-search {
	form {
		padding: 5px;
	}
	.form-group {
		width: 80%;
		float: left;
		margin-bottom: 0;
	}
	.btn-search {
		i {
			font-size: 18px;
		}
	}
}

// Home search box
// ------------------------ //
.home-search {
	padding: 1em 0;
	border: 0;
	.block-title {
		font-size: 20px;
		margin-bottom: .5em;
		float: left;
	}
	.form-group {
		@include make-xs-column(8);
		padding-left: 0;
	}
	.form-control {
		width: 100%;
	}
	.btn-search {
		padding: 5px 0;
		i {
			font-size: 32px;
		}
	}
	form {
		clear: both;
	}
}

// Search this site
// ------------------------ //
.search-site-link {
	float: left;
	padding: 3px 0 0 15px;
	border-left: 1px solid $lighter-gray;
	margin-left: 15px;
}

// Search by page results
// ------------------------ //
.search-by-page-form {
	.container {
		padding-left: 0;
	}
	.form-group {
		width: 70%;
		float: left;
		margin-right: 10px;
	}
}
// hide user info on each result
.search-info {
	display: none;
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.header-search {
		.form-group {
			width: 70%;
		}
	}
	.home-search {
		padding-top: 2em;
	}
	.search-by-page-form {
		.container {
			padding-left: 0;
		}
		.form-group {
			width: 50%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.brand {
		font-size: 36px;
	}
	.header-search {
		.form-group {
			width: 80%;
		}
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {

}